<?xml version='1.0' encoding='utf-8'?>
<widget
        id="uk.co.workingedge.phonegap.plugins.example.customconfig"
        version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Custom config plugin example</name>
    <description>An example app that demonstrates use of cordova-custom-config plugin</description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Dave Alden
    </author>
    <content src="index.html" />

    <access origin="*" />
    <preference name="Fullscreen" value="false" />

    <plugin name="cordova-plugin-whitelist" version="1.0.0" />

    <plugin name="cordova-custom-config" spec="~3.0.5" />
    <preference name="cordova-custom-config-autorestore" value="false" />
    <preference name="cordova-custom-config-stoponerror" value="true" />
    <preference name="cordova-custom-config-hook" value="after_prepare" />

    <platform name="android">

        <hook type="after_platform_add" src="hooks/android/restoreOriginalConfig.js" />
        <hook type="before_prepare" src="hooks/android/restoreOriginalConfig.js" />

        <!-- custom preferences examples -->
        <preference name="android-manifest/application/activity/@android:theme" value="@android:style/Theme.Material" />
        <preference name="android-manifest/application/activity/@android:windowSoftInputMode" value="stateVisible" />
        <preference name="android-manifest/@android:installLocation" value="somewhere" />
        <preference name="android-manifest/application/@android:hardwareAccelerated" value="custom" />
        <preference name="android-manifest/@android:hardwareAccelerated" value="custom" />
        <preference name="android-manifest/application/activity/@android:configChanges" value="orientation" />

        <!-- specify activity name -->
        <preference name="android-manifest/application/activity[@android:name='MainActivity']/@android:launchMode" value="custom" />

        <!-- Delete an element -->
        <preference name="android-manifest/application/activity[@android:name='DeleteMe']" delete="true" />

        <!-- These preferences are actually available in Cordova by default although not currently documented -->
        <preference name="android-minSdkVersion" value="101" />
        <preference name="android-maxSdkVersion" value="102" />
        <preference name="android-targetSdkVersion" value="103" />

        <!-- root-level config-file block -->
        <config-file target="AndroidManifest.xml" parent="/*">

            <supports-screens android:anyDensity="custom" android:largeScreens="custom" android:normalScreens="custom" android:resizeable="custom" android:smallScreens="custom" android:xlargeScreens="custom" />

            <uses-permission android:name="android.permission.READ_CONTACTS" android:maxSdkVersion="15" />
            <uses-permission android:name="android.permission.WRITE_CONTACTS" />
            <uses-permission android:name="android.permission.CAMERA" />

            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />

            <permission android:name="com.mobiledonky.example.push.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <permission android:name="com.mobiledonky.example.push.permission.C2D_TEST" android:protectionLevel="signature" />
        </config-file>

        <!-- application-level config-file block -->
        <config-file target="AndroidManifest.xml" parent="./application">
            <activity android:label="@string/title_activity_photo_gps" android:name="com.example.PhotoGpsActivity" android:screenOrientation="portrait" android:windowActionBar="false"/>
            <activity android:name="com.example.NfcActivity" android:theme="@android:style/Theme.Black.NoTitleBar" />

            <receiver android:name="net.donky.core.gcm.DonkyGcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="com.mobiledonky.example.push" />
                </intent-filter>
            </receiver>
            <receiver android:name="net.donky.core.DonkyBroadcastReceiver">
                <intent-filter>
                    <action android:name="net.donky.core.ACTION_SYNCHRONISE" />
                </intent-filter>
            </receiver>

            <service android:exported="false" android:name="net.donky.core.gcm.DonkyGcmIntentService" />
            <service android:exported="false" android:name="net.donky.core.DonkyIntentService" />

            <uses-library android:name="android.test.runner" />
            <uses-library android:name="android.test.harness" />

            <activity android:name="FirstActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
            <activity android:name="SecondActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        </config-file>

        <!-- Cordova activity-level config-file block -->
        <config-file target="AndroidManifest.xml" parent="./application/activity/[@android:name='MainActivity']">
            <intent-filter android:label="custom_1">
                <action android:name="android.intent.action.custom_1" />
            </intent-filter>
            <intent-filter android:label="custom_2">
                <action android:name="android.intent.action.custom_2" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="com.example.ex1" android:scheme="ex" />
            </intent-filter>

            <meta-data android:name="fish" android:value="@string/shark" />
            <meta-data android:name="bird" android:value="@string/eagle" />
        </config-file>

        <!-- Add (rather than overwrite) a config-file block -->
        <config-file target="AndroidManifest.xml" parent="./" add="true">
            <application android:name="customApplication"></application>
        </config-file>

    </platform>

    <platform name="ios">
        <hook type="after_platform_add" src="hooks/ios/restoreOriginalConfig.js" />
        <hook type="before_prepare" src="hooks/ios/restoreOriginalConfig.js" />

        <!-- Set various quote options -->
        <preference name="ios-XCBuildConfiguration-QUOTE_DEFAULT" value="YES" buildType="debug"/>
        <preference name="ios-XCBuildConfiguration-QUOTE_BOTH" value="YES" quote="both" buildType="debug"/>
        <preference name="ios-XCBuildConfiguration-QUOTE_KEY" value="YES" quote="key" buildType="debug"/>
        <preference name="ios-XCBuildConfiguration-QUOTE_VALUE" value="YES" quote="value" buildType="debug"/>
        <preference name="ios-XCBuildConfiguration-QUOTE_NONE" value="YES" quote="none" buildType="debug"/>

        <!-- Set various buildType options -->
        <preference name="ios-XCBuildConfiguration-BUiLD_TYPE_DEFAULT" value="YES"/>
        <preference name="ios-XCBuildConfiguration-BUiLD_TYPE_DEBUG" value="YES" buildType="debug"/>
        <preference name="ios-XCBuildConfiguration-BUiLD_TYPE_RELEASE" value="YES" quote="both" buildType="release"/>

        <!-- Set ENABLE_BITCODE to YES in XCode project file override NO value in /ios/cordova/build.xcconfig -->
        <preference name="ios-XCBuildConfiguration-ENABLE_BITCODE" value="YES" />

        <!-- Set deploy target SDKs for release and debug builds -->
        <preference name="ios-XCBuildConfiguration-IPHONEOS_DEPLOYMENT_TARGET" value="9.1" buildType="debug" />
        <preference name="ios-XCBuildConfiguration-IPHONEOS_DEPLOYMENT_TARGET" value="7.0" buildType="release" />


        <!-- Quote attribute has no effect in /ios/cordova/*.xcconfig -->
        <preference name="ios-XCBuildConfiguration-QUOTE_BOTH" value="YES" quote="both" buildType="debug" xcconfigEnforce="true" />

        <!-- Override *.xcconfig -->
        <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="1,2,3" />

        <!-- Custom code signing profiles (overriding those in /ios/cordova/*.xcconfig -->
        <preference name="ios-XCBuildConfiguration-CODE_SIGN_IDENTITY" value="iPhone Developer: Dave Alden (8VUQ6DYDLL)" buildType="debug" xcconfigEnforce="true" />
        <preference name="ios-XCBuildConfiguration-CODE_SIGN_IDENTITY[sdk=iphoneos*]" value="iPhone Developer: Dave Alden (8VUQ6DYDLL)" buildType="debug" />
        <preference name="ios-XCBuildConfiguration-CODE_SIGN_IDENTITY[sdk=iphoneos9.1]" value="iPhone Developer: Dave Alden (8VUQ6DYDLL)" buildType="debug" />
        <preference name="ios-XCBuildConfiguration-CODE_SIGN_IDENTITY" value="iPhone Distribution: Working Edge Ltd (556F3DRHUD)" buildType="release" />
        <preference name="ios-XCBuildConfiguration-CODE_SIGN_IDENTITY[sdk=iphoneos*]" value="iPhone Distribution: Working Edge Ltd (556F3DRHUD)" buildType="release" xcconfigEnforce="false" />
        <preference name="ios-XCBuildConfiguration-CODE_SIGN_IDENTITY[sdk=iphoneos9.1]" value="iPhone Distribution: Working Edge Ltd (556F3DRHUD)" buildType="release" xcconfigEnforce="true"/>

        <!-- Set orientation on iPhone -->
        <config-file platform="ios" target="*-Info.plist" parent="UISupportedInterfaceOrientations">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
            </array>
        </config-file>

        <!-- Set orientation on iPad -->
        <config-file platform="ios" target="*-Info.plist" parent="UISupportedInterfaceOrientations~ipad">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
            </array>
        </config-file>

        <!-- Set background location mode -->
        <config-file platform="ios" target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>

        <!-- Set message displayed when app requests constant location updates -->
        <config-file platform="ios" target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app requires constant access to your location in order to track your position, even when the screen is off.</string>
        </config-file>

        <!-- Set message displayed when app requests foreground location updates -->
        <config-file platform="ios" target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app will now only track your location when the screen is on and the app is displayed.</string>
        </config-file>


    </platform>
</widget>
